:root{
    --main-black: #000;
    --main-white: #fff;
    --footer-gray: #C4C4C4;
    --weight-600: 600;
    --weight-700: 700;
    --size-1_5: 1.5rem;
    --size-2: 2rem;
}

.black-body{
    background-color: var(--main-black);
}

.black-active_class,
.nav-links li:hover{
    padding-bottom: 5px;
    border-bottom: 1.5px solid var(--main-black);
}

.white-active_class,
.white-hover li:hover{
    padding-bottom: 5px;
    border-bottom: 1.5px solid var(--main-white);
}

.white-text{
    color: var(--main-white);
}

.active-category{
    font-weight: var(--weight-600);
}

.page-title,
.active-title{
    text-align: center;
    text-transform: uppercase;
    font-weight: var(--weight-700);
    margin-top: 2rem;
}

.page-title{
    font-size: var(--size-2);
}

.active-title{
    font-size: var(--size-1_5);
    margin: 1.5rem;
}

.container{
    width: 95%;
    margin: 0 auto;
}

.scroll-top__active{
    background: #3a3a3a;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    z-index: 99;
    transform: rotate(-90deg);
    right: 30px;
    bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* header */
header{
    position: relative;
}

header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

header nav  .nav-links{
    display: flex;
    list-style: none;
    justify-content: space-between;
    min-width: 40%;
    height: 25px;
}

.nav-links a{
    font-size: var(--size-1_5);
}

.black-text li a{
    color: var(--main-black);
}

.white-text li a{
    color: var(--main-white);
}

header nav .burger{
    cursor: pointer;
    display: none;
}

header nav .burger > div{
    width: 30px;
    height: 4px;
    background-color: var(--main-black);
    margin: 0.3rem 0;
}

.nav-icons{
    display: flex;
    gap: 1.5rem;
}

.search-form{
    position: relative;
}

.search-form input{
    padding: 0.5rem 1.7rem 0.5rem 0.5rem;
    border-radius: 10px;
    border: 1px solid var(--main-black);
}

.search-form svg{
    position: absolute;
    right: 10px;
    top: -1px;
    transform: translateY(50%);
}

/* home page */
/* home title section */
.home-title-section{
    width: 85%;
    margin: 0 auto;
}

.home-title img{
    width: 100%;
}

.motto{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2.2rem;
}

.motto img{
    width: 10%;
}

.motto p{
    font-size: var(--size-2);
    font-weight: var(--weight-700);
    text-transform: uppercase;
}

.motto p span{
    color: red;
    -webkit-text-stroke: 0.1rem var(--main-white);
}

.air-max-plus{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
}

.two-hundred{
    font-size: var(--size-2);
}

.home-title_button button{
    border: 1px solid #F30404;
    padding: 14px 23px;
    margin:27px 20px 8rem 0 ;
}

/* special offer section */
.special-offer-section{
    background-image: url(../images/home_page/Rectangle\ 114.png);
    width: 100%;
    height: 812px;
    text-align: center;
}

.special-offer-section h2{
    text-transform: uppercase;
    padding: 128px 0 64px 0;
    font-size: 64px;
    font-weight: 900;
}

.special-offer-section p{
    text-transform: capitalize;
    font-size: 36px;
    font-weight: 500;
}

.special-offer-section button{
    background-color: var(--main-black);
    color: var(--main-white);
    padding: 20px 50.5px;
    border-radius: 10px;
    margin: 380px 0 65px 0;
    font-weight: var(--weight-700);
}

/* new trends section */
.new-trends-section h4{
    text-align: center;
    text-transform: capitalize;
    margin: 110px 0 95px 0;
    font-weight: var(--weight-700);
}

.trends-div{
    display: flex;
    justify-content: space-between;
    
}

.trend-product{
    position: relative;
    width: 400px;
    margin-bottom: 280px;
}

.trend-img{
    width: 100%;
    height: 400px;
}

.trend-product a{
    position: absolute;
    transform: translate(50%, 50%);
    left: -5px;
    top: 180px;
    background-color: #C4C4C4;
    color: black;
    border: 1px solid black;
    padding: 1rem 2.5rem;
    border-radius: 10px;
    font-size: var(--size-1_5);
    font-weight: var(--weight-600);
    opacity: 0;
}

.trend-product:hover a{
    opacity: 1;
}

.trend-product:hover .trend-img{
    opacity: 70%;
}

.trand-name{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.trand-name p{
    font-weight: var(--weight-700);
}

/* nike news page */
.news-section{
    margin-bottom: 8rem;
}

.news-section h2,h5,p{
    text-align: center;
}

.news-section h2{
    text-transform: capitalize;
    font-size: var(--size-1_5);
    font-weight: var(--weight-700);
}

.news-page_title{
    margin-bottom: 1rem;
}

.news-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news-title{
    margin: 10rem 0 8rem 0;
}

.news-div h2{
    margin-top: 5rem;
}

.news-div p{
    margin: 5rem 20rem;
    text-align: left;
}

.news-img_div{
    display: flex;
    gap: 1.5rem;
}

.news-img_div > img{
    width: 450px;
}

#test-paragraph{
    margin-bottom: 0px;
}

#test-paragraph2{
    margin-top: 2rem;
}

/* men's cloth page */
.product-section{
    display: flex;
    gap: 7rem;
    margin-bottom: 8rem;
}

.categories{
    margin-top: 5rem;
}

.product-nav ul{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.product-nav ul li a{
    font-size: var(--size-1_5);
    color: var(--main-black);
}

.shoes{
    display: grid;
    grid-template-areas: 
    'product1 product2 product3'
    'product4 product5 product6'
    'product7 product8 product9';
    gap: 5.5rem;
    margin: 0 auto;
}

.product1{
    grid-area: product1;
}

.product2{
    grid-area: product2;
}

.product3{
    grid-area: product3;
}

.product4{
    grid-area: product4;
}

.product5{
    grid-area: product5;
}

.product6{
    grid-area: product6;
}

.product7{
    grid-area: product7;
}

.product8{
    grid-area: product8;
}

.product9{
    grid-area: product9;
}

.shoes-div{
    width: 300px;
    position: relative;
}

.product-img{
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

.shoes-div a{
    position: absolute;
    transform: translate(50%, 50%);
    left: -60px;
    top: 105px;
    background-color: #C4C4C4;
    color: black;
    border: 1px solid black;
    padding: 1rem 2.5rem;
    border-radius: 10px;
    font-size: var(--size-1_5);
    font-weight: var(--weight-600);
    opacity: 0;
}

.shoes-div:hover .product-img{
    opacity: 50%;
}

.shoes-div:hover a{
    opacity: 1;
}

.product-name{ 
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    align-items: center;
    font-weight: var(--weight-700);
}

.product-name h5{
    text-transform: capitalize;
    font-size: var(--size-1_5);
}

.product-name p{
    font-size: var(--size-2)
}

.heart{
    width: 28px;
    height: 28px;
    position: absolute;
    top: .8rem;
    right: .8rem;
    cursor: pointer;
}

.product-burger{
    cursor: pointer;
    display: none;
}

.product-burger > div{
    width: 30px;
    height: 4px;
    background-color: var(--main-black);
    margin: 0.3rem 0;
}

/* product page */
.product-wrapper{
    margin-bottom: 8rem;
}

.product-wrapper h1{
    margin-bottom: 4rem;
}

.product-div{
    display: flex;
    gap: 10%;
}

/* product images div */
.product-images{
    display: grid;
    grid-template-areas: 
    'image1 image1 image2'
    'image1 image1 image3'
    'image4 image5 image6';
    width: 50%;
    gap: 1rem;
}

.small-img{
    width: 100%;
    height: 100%;
    transition: .5s;
}

.small-img:hover{
    transform: scale(1.6);
}

.image1{
    width: 100%;
    height: 100%;
    grid-area: image1;
}

.image2{
    grid-area: image2;
}

.image3{
    grid-area: image3;
}

.image4{
    grid-area: image4;
}

.image5{
    grid-area: image5;
}

.image6{
    grid-area: image6;
}

/* product carousel */
.product-carousel{
    display: none;
    width: 45%;
    align-self: center;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: var(--main-black);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: var(--main-white);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }

/* product details div*/
.product-details{
    width: 45%;
}

.product-details p{
    text-transform: capitalize;
    text-align: start;
    padding-bottom: .5rem;
}

.product-size{
    font-size: var(--size-1_5);
    font-weight: var(--weight-600);
    padding-top: 1rem;
}

.product-size_div{
    display: grid;
    grid-template-areas: 
    'size38 size39 size40'
    'size41 size42 size43'
    'size44 size45 size46';
    gap: .25rem .5rem;
    margin: 1rem 0 2rem 0;
}

.product-size_div div:hover{
    background-color: #7b7b7b;
    color: var(--main-white);
    cursor: pointer;
}

.size38{
    grid-area: size38;
}

.size39{
    grid-area: size39;
}

.size40{
    grid-area: size40;
}

.size41{
    grid-area: size41;
}

.size342{
    grid-area: size42;
}

.size43{
    grid-area: size43;
}

.size44{
    grid-area: size44;
}

.size45{
    grid-area: size45;
}

.size46{
    grid-area: size46;
}

.product-size_div > div{
    border: 1px solid var(--main-black);
    padding: 1rem 1.5rem;
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
}

.modal-open{
    background-color: var(--main-black);
    color: var(--main-white);
    width: 100%;
    padding: 25px 0;
    border-radius: 10px;
}

.modal-wrapper{
    position: fixed;
    inset: 0;
    display: none;
    place-items: center;
}

.modal-window{
    position: relative;
    width: 55%;
    height: 55%;
    background-color: var(--footer-gray);
    padding: 2rem;
    border-radius: 1rem;
}

.modal-close{
    position: absolute;
    right: 20px;
    top: 20px;
    transition: .5s;
    border-radius: 50%;
    font-size: var(--size-1_5);
}

.modal-close:hover{
    transform: scale(1.2);
}

.modal-header{
    text-align: center;
    font-size: var(--size-2);
    font-weight: var(--weight-600);
    margin-bottom: 1rem;
}

.modal-content{
    max-height: 80%;
    height: 60%;
    padding: 1rem 0;
    text-align: center;
}

/* modal content form */
.modal-content form{
    display: grid;
    grid-template-areas: 
    'fname lname'
    'email email'
    'password password'
    'adress adress'
    'card card'
    'card-number card-number'
    'exp-date cvc';
    gap: 1rem 10px;
}

.fname{
    grid-area: fname;
}

.lname{
    grid-area: lname;
}

.email{
    grid-area: email;
}

.password{
    grid-area: password;
}

.adress{
    grid-area: adress;
}

.user-card{
    grid-area: card;
    margin-top: 1rem;
    font-size: var(--size-1_5);
    font-weight: var(--weight-600);
}

.card-number{
    grid-area: card-number;
}

.card-number > input{
    padding: 0.5rem;
    border: 1px solid white;
    border-radius: 10px;
    height: 25px;
}

.exp-date{
    grid-area: exp-date;
}

.cvc{
    grid-area: cvc;
}

.exp-date > input, .cvc > input{
    padding: 0.5rem;
    border-radius: 10px;
    border: 1px solid white;
    height: 25px;
}

.card-info{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.card-info > label{
    text-align: start;
    margin:0 0 5px 5px;
}

.modal-content form > input{
    padding: .5rem;
    border: 1px solid var(--main-white);
    border-radius: 10px;
}

.modal-content form > input::placeholder{
    color: #9b9999;
    text-transform: capitalize;
}

.modal-submit{
    background-color: var(--main-black);
    margin-top: 2rem;
    font-size: var(--size-1_5);
    padding: 1rem 2rem;
    border-radius: 10px;
}

.modal-wrapper.active{
    display: grid;
}

/* sign  in page */
.sign_in-section{
    display: flex;
    justify-content: space-between;
    margin: 5rem 0 8rem 0;
}

.log_in{
    border: 1px solid var(--main-white);
    width: 49.5%;
    text-align: center;
    padding-top: 2rem;
}

.log_in h1{
    text-transform: uppercase;
    font-size: var(--size-2);
    font-weight: var(--weight-700);
    margin: 3rem 0 2rem 0;
}

.log_in p{
    padding: 0 17%;
}

.log_in form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 35px 0 120px 0;
}

.log_in form input{
    background-color: var(--main-black);
    border: 1px solid var(--main-white);
    padding: 26px 0 26px 1rem;
    width: 75%;
    margin-bottom: 25px;
}

.log_in form input::placeholder{
    color: var(--main-white);
    text-transform: uppercase;
}

.sign_in-img{
    width: 49.5%;
}

/* footer */
footer{
    background-color: var(--footer-gray);
}

.footer-icons{
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-top: 2.5rem;
}

.footer-nav ul{
    display: flex;
    justify-content: space-around;
    padding: 4rem 0;
}

.footer-nav li a{
    text-transform: uppercase;
    color: var(--main-black);
}

/* responcive code */
@media(max-width: 1400px){


    .news-img_div > img{
        width: 400px;
    }
}

@media(max-width: 1340px){
    .product-section{
        flex-direction: column;
        gap: 3rem;
    }

    .product-nav ul{
        flex-direction: row;
        justify-content: space-around;
    }

    .categories{
        margin-top: 2rem;
    }
}

@media(max-width: 1300px){
    .trends-div{
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }

    .trend-product{
        margin-bottom: 0;
    }

    .trend3{
        margin-bottom: 280px;
    }
}

@media(max-width: 1250px){
    .news-div p{
        margin: 5rem 10rem;
    }

    .news-img_div > img{
        width: 350px;
    }

    .footer-nav ul{
        display: grid;
        grid-template-areas: 
        'contact conditions'
        'faq gift'
        'store help'
        'privacy about'
        'cookies me';
        gap: 1rem;
        padding-bottom: 1.5rem;
    }

    .footer-contact{
        grid-area: contact;
    }

    .footer-faq{
        grid-area: faq;
    }

    .footer-store{
        grid-area: store;
    }

    .footer-privacy{
        grid-area: privacy;
    }

    .footer-cookies{
        grid-area: cookies;
    }

    .footer-conditions{
        grid-area: conditions;
    }

    .footer-gift{
        grid-area: gift;
    }

    .footer-help{
        grid-area: help;
    }

    .footer-about{
        grid-area: about;
    }

    .me{
        grid-area: me;
    }
}

@media(max-width: 1140px){


    .news-img_div > img{
        width: 300px;
    }

    .shoes{
        display: grid;
        grid-template-areas: 
        'peoduct0 product2'
        'product3 product4'
        'product5 product6'
        'product7 product8'
        'product9 product1';
    }
}

@media(max-width: 1000px){
    .news-div p{
        margin: 5rem 3rem;
    }

    .news-img_div{
        flex-direction: column;
    }

    .news-img_div > img{
        width: 100%;
    }
}

@media(max-width: 991px){
    .product-div{
        justify-content: space-between;
        gap: 0;
    }
}

@media(max-width: 900px){
    .news-div p{
        margin: 5rem 0;
    }

    .news-div > img{
        width: 100%;
    }
}

@media (max-width: 768px){
    .container{
        width: 90%;
    }

    .active-container{
        width: 100%;
    }

    header nav{
        align-items: flex-start;
        flex-direction: column;
        position: relative;
    }
    
    header .nav__active{
        padding: 0;
    }

    header nav .nav-links{
        display: none;
    }

    header nav .nav-links.nav-links__active{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        gap: 2rem;
        z-index: 1;
    }

    header nav .nav-links__active{
        background-color: var(--main-black);
        height: 170px;
        position: absolute;
        padding: 2rem 0;
    }

    header nav .nav-links li{
        width: 100%;
        text-align: center;
    }

    header nav .nav-links li a{
        color: var(--main-white);
    }
    
    .nav-icons{
        display: none;
    }

    header nav .burger{
        position: absolute;
        display: block;
        top: 2rem;
        right: 1rem;
        z-index: 1;
    }

    header nav .nav-burger__active > div{
        background-color: var(--main-white);
        transition: transform 0.2s ease;
    }

    header nav .nav-burger__active div:nth-child(1){
        transform: rotateZ(45deg) translateY(13px);
    }

    header nav .nav-burger__active div:nth-child(2){
        opacity: 0;
    }

    header nav .nav-burger__active div:nth-child(3){
        transform: rotateZ(-45deg) translateY(-13px);
    }

   /* .search-form__active{
       
    }*/

    /* product section */
    .motto img{
        width: 15%;
    }

    .motto p{
        font-size: var(--size-1_5);
    }

    .two-hundred{
        font-size: var(--size-1_5);
    }

    .shoes{
        gap: 1.5rem;
    }

    /* product page */
    .product-images{
        display: none;
    }

    .product-carousel{
        display: inline-block;
    }

}

@media(max-width: 745px){
    .shoes{
        display: flex;
        flex-direction: column;
    }
}

@media(max-width: 631px){
    .home-title img{
        margin-bottom: 20px;
    }

    .product-nav{
        align-items: flex-start;
        flex-direction: column;
        position: relative;
    }

    .product-ul li{
        display: none;
    }

    main .product-ul.product-ul__active{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        gap: 2rem;
    }

    .product-ul__active{
        position: absolute;
        padding: 2rem 0;
    }

    .product-ul__active li{
        width: 100%;
        text-align: center;
    }

    .product-burger{
        position: absolute;
        display: block;
        top: -0.1rem;
        right: 1rem;
    }

    .product-burger__active > div{
        transition: transform 0.2s ease;
    }

    .product-burger__active div:nth-child(1){
        transform: rotateZ(45deg) translateY(13px);
    }

    .product-burger__active div:nth-child(2){
        opacity: 0;
    }

    .product-burger__active div:nth-child(3){
        transform: rotateZ(-45deg) translateY(-13px);
    }

    /* product page */
    .modal-window{
        height: 63%;
    }

    .modal-content form{
        display: grid;
        grid-template-areas: 
        'fname'
        'lname'
        'email'
        'password'
        'adress'
        'card'
        'card-number'
        'exp-date'
        'cvc';
    }

    .modal-submit{
        margin-top: 1rem;
    }

    /* sign in page */
    .sign_in-section{
        flex-direction: column;
    }

    .log_in{
        width: 100%;
    }

    .log_in h1{
        font-size: var(--size-1_5);
    }

    .sign_in-img{
        display: none;
    }
}

@media(max-width: 570px){
    .product-size_div{
        grid-template-areas: 
        'size38 size39'
        'size40 size41'
        'size42 size43'
        'size44 size45'
        'size46 size0';
    }

    .size38{
        grid-area: size38;
    }
    
    .size39{
        grid-area: size39;
    }
    
    .size40{
        grid-area: size40;
    }
    
    .size41{
        grid-area: size41;
    }
    
    .size342{
        grid-area: size42;
    }
    
    .size43{
        grid-area: size43;
    }
    
    .size44{
        grid-area: size44;
    }
    
    .size45{
        grid-area: size45;
    }
    
    .size46{
        grid-area: size46;
    }
    
    
}

@media(max-width: 560px){
    .special-offer-section h2{
        font-size: 48px;
    }

    .special-offer-section p{
        font-size: 26px;
    }
}

@media(max-width: 480px){
    .trend-product{
        width: 350px;
    }

    .trend-img{
        height: 350px;
    }

    .trend-product a{
        left: -35px;
        top: 150px;
    }

    /* product page*/
    .product-div{
        flex-direction: column;
        align-items: center;
        grid-area: 2rem;
    }

    .product-carousel{
        width: 100%;
    }

    .product-details{
        width: 100%;
    }
}

@media(max-width:440px){
    .special-offer-section h2{
        font-size: 2rem;
    }
}

@media(max-width: 416px){
    .modal-window{
        height: 67%;
    }
}

@media(max-width: 400px){
    .motto p{
        font-size: 1rem;
    }

    .two-hundred{
        font-size: 1rem;
    }

    .trend-product{
        width: 300px;
    }

    .trend-img{
        height: 300px;
    }

    .trend-product a{
        left: -60px;
        top: 120px
    }

    footer .container{
        display: flex;
        gap: 4rem;
    }

    .footer-icons{
        flex-direction: column;
    }

    .footer-nav ul{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 3rem;
    }
}

@media(max-width: 345px){
    .shoes-div{
        width: 250px;
    }
}

@media(max-width: 320px){
    .trend-product{
        width: 260px;
    }

    .trend-img{
        height: 260px;
    }

    .trend-product a{
        left: -80px;
        top: 90px;
    }
}

@media(max-width: 284px){
    .home-title_button button{
        margin-right: 15px;
    }
}

.c{
    background-color: #717171;
}
